{
	"Pipedrive": {
		"url": "https://www.aaa.bbb",
		"username": "abc123",
		"password": "akakak",
		"apikey": "ababababbabaababababa"
	},
	"github": {
		"username": "john.doe@ema.il",
		"password": "changeme"
	}
}